.Awards {
    width: 100%;
    height: 830px;
    background-color: var(--base-1);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.awards-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awards-background-image {
    position: absolute;
    bottom: 0;
    left: -20%;
}


.Awards h1 {
    height: 20%;
      font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.09;
  letter-spacing: -2px;
  text-align: center;
  color: var(--primary-blue);
}

.awards-content {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.save-your-quote {
    text-decoration: none;
    width: 220px;
    height: 48px;
    border-radius: 24px;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.save-your-quote span {
    color: var(--cyan);
}

.save-your-quote:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 1024px) {

    .awards-background-image { 
        left: -40%;
    }
    .awards-content { 
        width: 70%;

    }
}

@media (max-width:860px) {
    .awards-background-image { 
        display: none;
    }

        .awards-content { 
        width: 100%;
        align-items: center;
    }

    .save-your-quote {
        margin-right: 0px;
    }
}

@media (max-width: 460px) {
    .Awards {
        height: 1200px;
    }
    .Awards h1 { 
        height: 10%;
        font-size: 39px;
    }
    .awards-content {
        height: 90%;
    }
    
}